$colors: (
  'aqua' : (
    tint : #50C5AE,
    base : #2fb196,
    shade : #038168
  ),
  'blue' : (
    tint : #235D95,
    base : #11487c,
    shade : #073766
  ),
  'gray' : (
    tint : #949494,
    base : #666666,
    shade : #2D2D2D
  )
);
