.btn-cta {
  color : white;
  text-transform:uppercase;
  border: none;
  border-radius: 4px;
  &:hover {
    color : white;
  }
}

.btn-cta-blue {
  @extend .btn-cta;
  background-color: color('blue', 'tint');
  &:hover {
    background-color: color('blue','base');
  }
}

.btn-cta-aqua {
  @extend .btn-cta;
  background-color: color('aqua', 'tint');
  &:hover {
    background-color: color('aqua','base');
  }
}
